.latest,
.related_news {
    &__card {
        display: block;
        &:hover {
            color: initial;
            .latest__arrow::after {
                margin-left: 1em;
            }
        }
    }
    &__image {
        aspect-ratio: 16 / 9;
        object-fit: cover;
        margin-bottom: 0.5rem;
    }
    &__title {
        font-size: var(--fs-400);
        font-weight: var(--fw-500);
        margin-bottom: 0;
    }
    &__arrow {
        font-weight: var(--fw-400);
        font-size: var(--fs-400);
    }
    &__arrow {
        position: relative;
        &::after {
            position: absolute;
            content: "";
            margin-left: 0.5em;
            transition: margin var(--transition);
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 99.69 85.09'%3E%3Cpath fill='%23000000' d='m59.67,82.57l-2.52,2.52-5.04-5.04,2.52-2.52,31.41-31.41H0v-7.14h86.03L54.62,7.57l-2.52-2.52,5.04-5.04,2.52,2.52,37.5,37.5,2.52,2.52-2.52,2.52-37.5,37.5Z'/%3E%3C/svg%3E");
            width: 18px;
            height: 22px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            top: 0;
        }
    }
}