footer {
    background-color: var(--col-blue-400);
 
    .menu {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: var(--col-light);
        transition: color var(--transition);
        &:hover {
            color: var(--col-highlight);
        }
    }

    .footer__logo {
        width: min(240px, 80vw);
    }

    .colophon {
        font-size: var(--fs-300);
        color: var(--col-light);
        a {
            text-decoration: none;
            color: inherit;
            transition: color var(--transition);
            &:hover {
                color: var(--col-highlight);
            }
        }
    }

    li {
        margin-bottom: 0.25em;
    }
}

.footer__contact {
    padding-inline-start: 0;
    li {
        list-style-type: none;
        padding-left: 25px;
        position: relative;
    }
}
.icon--email {
    &::before {
        content: '';
        display: inline-block;       
        @media (min-width:576px) {
            position: absolute;
        }
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 85 85'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath class='cls-1' fill='%23ffffff' d='m0,47.81L85,0l-10.63,79.69-29.25-12.53-10.59,17.85-7.97-2.66v-18.59L63.75,26.56l-41.67,30.71L0,47.81Z'/%3E%3C/g%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
    }
}
.icon--phone {
    &::before {
        content: '';
        display: inline-block;       
        @media (min-width:576px) {
            position: absolute;
        }
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath class='cls-1' d='m0,6.25L28.12,0l15.62,28.12-16.37,13.09c7.05,13.36,18.03,24.33,31.4,31.4l13.09-16.37,28.12,15.62-6.25,28.12h-6.25C39.18,100,0,60.82,0,12.5v-6.25Z'/%3E%3C/g%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.icon--facebook {
    &::before {
        content: '';
        position: absolute;
        width: 2em;
        aspect-ratio: 1;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; %7D .cls-1, .cls-2 %7B stroke-width: 0px; %7D .cls-2 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Crect class='cls-1' width='100' height='100'/%3E%3Cpath class='cls-2' d='m59.13,56.25v43.75h-19.56v-43.75h-15.9v-18.1h15.9v-13.79C39.56,8.67,48.91,0,63.21,0c6.85,0,14.01,1.22,14.01,1.22v15.41h-7.9c-7.78,0-10.2,4.83-10.2,9.78v11.74h17.37l-2.78,18.1h-14.59Z'/%3E%3C/g%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.icon--linkedin {
    &::before {
        content: '';
        position: absolute;
        width: 2em;
        aspect-ratio: 1;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; %7D .cls-1, .cls-2 %7B stroke-width: 0px; %7D .cls-2 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Crect class='cls-1' width='100' height='100'/%3E%3Cpath class='cls-2' d='m18.06,21.11c-5.8,0-10.51-4.8-10.51-10.61,0-3.75,2-7.22,5.25-9.1s7.26-1.88,10.51,0,5.25,5.35,5.25,9.1c0,5.8-4.71,10.61-10.51,10.61Zm9.08,66.39H9V29.08h18.14v58.42Zm67.89,0h-18.1v-28.44c0-6.78-.14-15.47-9.43-15.47s-10.88,7.36-10.88,14.98v28.93h-18.12V29.08h17.4v7.97h.25c2.42-4.59,8.34-9.43,17.16-9.43,18.36,0,21.73,12.09,21.73,27.79v32.09h-.02Z'/%3E%3C/g%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.icon--instagram {
    &::before {
        content: '';
        position: absolute;
        width: 2em;
        aspect-ratio: 1;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; %7D .cls-1, .cls-2 %7B stroke-width: 0px; %7D .cls-2 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Crect class='cls-1' width='100' height='100'/%3E%3Cpath class='cls-2' d='m93.47,68.03c-.35,7.01-1.95,13.22-7.07,18.34-5.12,5.14-11.33,6.74-18.34,7.07-7.23.41-28.89.41-36.11,0-7.01-.35-13.2-1.95-18.34-7.07-5.14-5.12-6.74-11.33-7.07-18.34-.41-7.23-.41-28.89,0-36.11.35-7.01,1.93-13.22,7.07-18.34,5.14-5.12,11.35-6.72,18.34-7.05,7.23-.41,28.89-.41,36.11,0,7.01.35,13.22,1.95,18.34,7.07,5.14,5.12,6.74,11.33,7.07,18.34.41,7.23.41,28.87,0,36.09Zm-7.58-18.05c0-6.37.53-20.04-1.76-25.8-1.54-3.85-4.49-6.8-8.32-8.32-5.74-2.27-19.43-1.76-25.8-1.76s-20.04-.53-25.8,1.76c-3.85,1.54-6.8,4.49-8.32,8.32-2.27,5.74-1.76,19.43-1.76,25.8s-.53,20.04,1.76,25.8c1.54,3.85,4.49,6.8,8.32,8.32,5.74,2.27,19.43,1.76,25.8,1.76s20.04.53,25.8-1.76c3.85-1.54,6.8-4.49,8.32-8.32,2.29-5.74,1.76-19.43,1.76-25.8Zm-13.44,0c0,12.42-10.02,22.44-22.44,22.44s-22.44-10.02-22.44-22.44,10.02-22.44,22.44-22.44,22.44,10.02,22.44,22.44Zm-7.85,0c0-8.05-6.54-14.59-14.59-14.59s-14.59,6.54-14.59,14.59,6.56,14.59,14.59,14.59,14.59-6.54,14.59-14.59Zm8.77-28.59c-2.89,0-5.23,2.34-5.23,5.23s2.32,5.23,5.23,5.23,5.23-2.32,5.23-5.23-2.34-5.23-5.23-5.23Z'/%3E%3C/g%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

a.icon {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
}