:root {
 
    --col-dark: #000000;
    --col-light: #ffffff;
    --col-highlight: #FEBE10;

    --col-blue-300: #8EAFC4;
    --col-blue-400: #4f8cad;

    --col-grey-200: #fbfbfb;
    --col-grey-400: #767676;

    --transition: 0.3s ease;

    --fw-400: 300;
    --fw-500: 400;
    --fw-600: 500;
    --fw-900: 700;
    
    --h-top: 130px;

    --fs-900: 4.0rem;  /* h1 72px */
    --fs-800: 2.889rem;  /* h2 52px */
    --fs-700: 2.222rem;  /* quotes 40px */
    --fs-600: 1.611rem;  /* h3 29px */
    --fs-550: 1.333rem; /* larger 24px */
    --fs-500: 1.167rem;  /* large 21px */
    --fs-400: 1.0rem;  /* body 18px */
    --fs-300: 0.778rem;  /* buttons 14px */

    --ff-body: 'NeueHaasDisplay', times, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}